{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1>Курсы</h1>
    {% for course in courses %}
        <a href="{{ path('course_show', {'id': course.id}) }}">{{ course.name }}</a>
        <p>{{ course.description }}</p>
        <br>
    {% else %}
        <p colspan="5">no records found</p>
    {% endfor %}
    <a href="{{ path('course_new') }}">Новый курс</a>
{% endblock %}
