{% extends 'base.html.twig' %}

{% block title %}Новый курс / StudyOn{% endblock %}

{% block body %}
    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand mb-0 h1" href="/">StudyOn</a>
            </div>
        </nav>

        <h1>Новый курс</h1>

        {{ include('course/_form.html.twig') }}

        <hr>

        <a class="btn btn-outline-dark" href="/">К списку курсов</a>
    </div>
{% endblock %}
