{% extends 'base.html.twig' %}

{% block title %}Редактирование урока{% endblock %}

{% block body %}
    <h1>Редактирование урока</h1>

    {{ include('lesson/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
